<h1><%= @project.title %></h1>
<p><%= @project.description %></p>

<h3>Current Status: <%= @project.status %></h2>

<%= render 'status_form' %>

<h3>Conversation history</h2>
<%= render @conversation_items %>

<h3>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'All Projects', projects_path %>
